<br> <br> <br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div style="padding:20px">
        <table class="table  table-responsive table-hover data-table sort display table-striped table-bordered">
          <thead>
            <th [ngStyle]="[{width: column.width}]" [style.display]="column.hidden ? 'none' : ''" *ngFor="let column of option">
              <input class="form-control" *ngIf="column.filterable" (input)="onChangeFiltterValue($event,column.field)" [placeholder]="column.field"
              />
              <br><br>
              <p (click)="onChangeSortingType(column.field)">{{column.title | uppercase}}</p>
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let record of dataSource | orderBy : convertSortingType() | filter:filtterby:fieldName">
              <td *ngFor="let cl of option" [style.display]="cl.hidden ? 'none' : ''" #clmRef>
                <p (click)="onclick(record[cl.field])" [ngStyle]="{width: cl.width}" ngClass="shorten">{{record[cl.field]}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="ishttpData" [ngClass]="(httpStatus)?'alert alert-success':'alert alert-warning'" style="margin: 20px;" class="col-xs-7">
        {{httpResponseMsg}}
      </div>      
    </div>
  </div>
</div>